@import "../variables";

a {
  font-size: 1.3rem;
  color: #3182ce;
}
.output-card {
  background: #fff;
  border-radius: 8px;
  padding: 1.8rem;
  text-align: left;
  position: relative;
}

.output-date {
  display: block;
  font-family: Rubik, "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  color: $color-gray;
}

.output-title {
  font-size: 2rem;
  margin-top: 0.6rem;
}

.output-type {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.8rem;
  padding: 0.4rem 1rem;
  background: $color-main;
  color: #fff;
  border-radius: 6px;
}

.output-desc {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-top: 0.6rem;
}

.dev-tag {
  display: inline-block;
  margin-bottom: 0.6rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  color: $color-gray;
}

.output-link {
  font-size: 1.3rem;
  color: #3182ce;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.link {
  font-size: 1.3rem;
  color: #3182ce;
  display: block;
}
.link:hover {
  text-decoration: underline;
}
